<!DOCTYPE html>
<html lang="en">
    
    <%- HEAD() %>
    
    <body>
    
        <style>
            .rotate-share-alt:before {
                /* Safari */
                -webkit-transform: rotate(-90deg);
                /* Firefox */
                -moz-transform: rotate(-90deg);
                /* IE */
                -ms-transform: rotate(-90deg);
                /* Opera */
                -o-transform: rotate(-90deg);
                /* Internet Explorer */
                filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
            }
            
            
            .row-fluid hr{
                margin: 0;    
            }
            .productPrice{
                width:40px;
            }
            .productNameRow{
                white-space:nowrap;
            }
            @media 
            (max-width: 767px){
            }
            @media 
            only screen and (max-width: 760px),
            (min-device-width: 768px) and (max-device-width: 1024px)  {
                
            	/* Force table to not be like tables anymore */
            	table, thead, tbody, th, td, tr { 
            	    border-color: gray;
            		display: block; 
            	}
            	/* Hide table headers (but not display: none;, for accessibility) */
            	.producttable thead { 
            		display:none;
            		
            	}
            	.table  th, .table td{
            	    height:25px;
            	}
            	.producttable form{
            	    margin: 0
            	    
            	}
            	.producttable tr { 
            	    margin-top:50px;
            	}
            	.producttable tr:nth-of-type(1) { 
            	    margin-top:0px;
            	}
            	.producttable td:nth-of-type(1):after { content: "Product";}
            	.producttable td:nth-of-type(2):after { content: "Model"; }
            	.producttable td:nth-of-type(3):after { content: "Unit Price"; }
            	.producttable td:nth-of-type(4):after { content: "Price"; }
            	.producttable td:nth-of-type(5):after { content: "Tax"; }
            	.producttable td:nth-of-type(6):after { content: "Total Price"; }
                
                .producttable td:after{  padding-left:10px; float:right;}
            	
            }
        </style>
        <%- NAVBAR(true) %>

        <div class="main">
            <div class="container">
                <div class="row">
                
      	            <div class="span12">
      	            
                        <div class="widget stacked ">
                        
                            <div class="widget-header">
                                <h3>New Invoice</h3>
                            </div>
                            <!-- /widget-header -->
                            <div class="widget-content">
                            
                                <div class="row-fluid">
                                    <div class="span6">
                                        <table width="100%">
                                            <tr>
                                                <td>
                                                    Customer: <%- customer.id %>
                                                    <hr />
                                                    <strong><%- customer.name %></strong><br />
                                                    <%- customer.address %><br />
                                                    <%- customer.city %>, <%- customer.state %> <%- customer.zip %> <br />
                                                    <%- customer.phone %> - <%- customer.email %> <br />
                                                    
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!--
                                    <div class="span6">
                                        <table width="100%">
                                            <tr>
                                                <td>
                                                    Billing:
                                                    <hr />
                                                    <strong><%- customer.name %></strong><br />
                                                    <%- customer.address %><br />
                                                    <%- customer.city %>, <%- customer.state %> <%- customer.zip %> <br />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    -->
                                </div>
                                <hr />
                                <br class="clear-fix" />
                                <div class="row-fluid">
                                    <table width="100%"  class="table producttable">
                                        <thead width="100%">
                                            <tr>
                                                <td class="productNameRow">Product</td>
                                                <td class="productModelRow">Model/SKU</td>
                                                <td>Unit Price</td>
                                                <td>Price</td>
                                                <td>Tax</td>
                                                <td>Total Price</td>
                                            </tr>
                                        </thead>
                                        <tbody class="unit-container">
                                        <tr class="unitsbottomRow">
                                            <td colspan="6">
                                                 <a class="button btn btn-small" id="addBlank"><i class="icon-plus"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="pull-right">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <b>Sub-Total</b>
                                                </td>
                                                <td class="sub-total">
                                                    
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Tax</b>
                                                </td>
                                                <td class="ttax">
                                                    
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Total</b>
                                                </td>
                                                <td class="total">
                                                    
                                                </td>
                                            </tr>
                                           
                                        </tbody>
                                    </table>
                                </div>
                                <hr />
                                    <div class="field">
                            			<label for="invoiceStatus">Status:</label>
                            			<select name="status" id="invoiceStatus">
                                          <option value="open">Open</option>
                                          <option value="closed">Closed</option>
                                        </select>
                            		</div> <!-- /field -->
                            		
                            		
                            	<hr />
                            	<div class="login-actions">
                            		<button class="button btn btn-warning btn-large pull-right">Create Invoice</button>
                            	</div> <!-- .actions -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /main -->
        
        <script>
            $(function(){
                var loaded = false;
                window.socket(function (socket) {
                
                var nextUnitID = 0;
                
                
               function createUnit(id){
                   var template = '<tr class="unit">'
                                +'<td class="productNameRow">'
                                +'<a class="trash btn btn-small" href="javascript:void;"><i class="icon-trash"></i></a> &nbsp; &nbsp;<input style="width:35px" value="1"  class="productQuanity" />&nbsp;x&nbsp;<input class="productName" /> <a class="addAttribute btn btn-small"  href="javascript:void;"><i class="icon-plus"></i></a>'
                                +'</td>'
                                +'<td class="productModelRow"><input class="productModel" /></td>'
                                +'<td><input class="productPrice" value="0.00" /></td>'
                                +'<td class="price"></td>'
                                +'<td class="tax"></td>'
                                +'<td class="tprice"></td>'
                                +'</tr>';
                    var row = $(template);
                    var unit = row.closest(".unit");
                    unit.attr("unitid",id);
                    $(".unit-container").find(".unitsbottomRow").before(unit);
                    
                    unit.find(".productName").autocomplete({
                        select: function( event, ui ) {
                            console.log(event,ui)
                        },
                        source : function(req,res){
                            res([ { label: "Test", value: "test" ,data:"test1"},{ label: "Test", value: "test" ,data:"test2"}]);
                        }
                    });
                    return unit;
                }
                function createUnitAtribute(unit,id){
                    var templateAtribute = '<tr class="unitAttribute">'
                                +'<td class="productNameRow">'
                                +'<a class="trash btn btn-small" href="javascript:void;"><i class="icon-trash"></i></a> &nbsp; &nbsp; <i class="icon-share-alt rotate-share-alt"></i> &nbsp; &nbsp; <input style="width:35px" value="1"  class="productQuanity" />&nbsp;x&nbsp;<input class="productName" />'
                                +'</td>'
                                +'<td class="productModelRow"><input class="productModel" /></td>'
                                +'<td><input class="productPrice" value="0.00" /></td>'
                                +'<td><i class="icon-level-up rotate"></i></td>'
                                +'<td><i class="icon-level-up rotate"></i></td>'
                                +'<td><i class="icon-level-up rotate"></i></td>'
                                +'</tr>';
                    var row = $(templateAtribute);
                    var unitAtribute = row.closest(".unitAttribute");
                    unitAtribute.attr("unitid",id);
                    unitAtribute.attr("unitid-parent",unit.attr("unitid"));
                    unit.after(unitAtribute);
                    
                    return unitAtribute;
                }  
                $("#addBlank").click(function(){
                    var unit = createUnit(++nextUnitID);
                    
                    updateUnitPrice(unit);
                });
                $(document).on('click','.addAttribute',function(){
                    var unit = $(this).closest(".unit");
                    var unitAtribute = createUnitAtribute(unit,++nextUnitID);
                    
                    updateUnitPrice(unit);
                });
                
                $(document).on('click','a.trash',function(){
                    var unit = $(this).closest(".unit").length ? $(this).closest(".unit") : $(this).closest(".unitAttribute").length ?  $(this).closest(".unitAttribute") : false;
                        
                    var unitIDparent = unit.attr("unitid-parent");
                    if(!unitIDparent){
                        $("[unitid-parent='"+unit.attr("unitid")+"']").remove();
                    } 
                        
                    unit.remove();
                    updateMainTotals();
                });
                $(document).on('change','input',function(){
                    var unit = $(this).closest(".unit").length ? $(this).closest(".unit") : $(this).closest(".unitAttribute").length ?  $(this).closest(".unitAttribute") : false;
                    
                    updateUnitPrice(unit);
                });
                $(document).on('keyup','input',function(){
                    var unit = $(this).closest(".unit").length ? $(this).closest(".unit") : $(this).closest(".unitAttribute").length ?  $(this).closest(".unitAttribute") : false;
                    
                    updateUnitPrice(unit);
                });
                $(document).find("input").change();
                
                
                
                //createUnit();
                updateMainTotals();
                
                function updateUnitPrice(unit){
                    if(unit){
                        var unitIDparent = unit.attr("unitid-parent");
                        if(unitIDparent) unit = $("[unitid='"+unitIDparent+"']");
                        
                        if(!unitIDparent) unitIDparent = unit.attr("unitid");
                        var addAttributes = 0;
                        
                        $("[unitid-parent='"+unitIDparent+"']").each(function(){
                            var thisUnit = $(this);
                            var upval = thisUnit.find(".productPrice").val() !== "" ? thisUnit.find(".productPrice").val() : "0.00";
                            var unitPrice = parseFloat(upval).toFixed(2);
                                                   
                            var unitQuanity = parseFloat(thisUnit.find(".productQuanity").val() !== "" ? thisUnit.find(".productQuanity").val() : 0);
                                                
                            var qPrice = parseFloat((unitPrice * unitQuanity).toFixed(2));
                            addAttributes += qPrice;
                                                
                        });
                        
                        updateUnitTotal(unit,addAttributes);
                        
                    }
                }
                function updateUnitTotal(unit,attributesAmount){
                    var upval = unit.find(".productPrice").val() !== "" ? unit.find(".productPrice").val() : "0.00";
                    var unitPrice = parseFloat(upval).toFixed(2);
                       
                    var unitQuanity = parseFloat(unit.find(".productQuanity").val() !== "" ? unit.find(".productQuanity").val() : 0);
                    
                    var PriceEle = unit.find(".price");
                    var taxEle = unit.find(".tax");
                    var tPriceEle = unit.find(".tprice");
                    
                    var qPrice = parseFloat((unitPrice * unitQuanity).toFixed(2));
                    qPrice += attributesAmount;
                    PriceEle.text(qPrice.toFixed(2));
                    
                    var tPrice = parseFloat((Math.round((qPrice*0.06) * 100) / 100).toFixed(2));
                    taxEle.text(tPrice.toFixed(2));
                    
                    tPriceEle.text((qPrice+tPrice).toFixed(2));
                    
                    updateMainTotals();
                }
                function updateMainTotals(){
                    var subTotal = $(".sub-total");
                    subTotal.text("0.00");
                    var stotal = 0;
                    $(".price").each(function(){
                        stotal += parseFloat($(this).text());
                    })
                    subTotal.text(stotal.toFixed(2) );
                    
                    var TTax = $(".ttax");
                    TTax.text("0.00");
                    var ttotal = 0;
                    $(".tax").each(function(){
                        ttotal += parseFloat($(this).text());
                    });
                    
                    TTax.text(ttotal.toFixed(2) );
                
                    var Total = $(".total");
                    Total.text("0.00");
                    var total = 0;
                    $(".tprice").each(function(){
                        total += parseFloat($(this).text());
                        Total.text(total.toFixed(2) );
                    });
                    
                    saveDraft();
                }
                
                if(!loaded){
                    socket.emit("invoice-load-draft",<%- customer.id %>,function(err,draft){
                        loaded = true;
                        console.log("laded draft units",draft)
                        
                        if(draft.nextUnitID){
                            nextUnitID = draft.nextUnitID
                            delete draft.nextUnitID;
                        }
                        
                        for(var i in draft){
                            var unitID = i;
                            var unitData = draft[i]
                            var unit = createUnit(i);
                            unit.find(".productQuanity").val(unitData.productQuanity)
                            unit.find(".productName").val(unitData.productName)
                            unit.find(".productModel").val(unitData.productModel)
                            unit.find(".productPrice").val(unitData.productPrice)
                            for(var j in unitData.attribute){
                                var unitAtribute = createUnitAtribute(unit,j);
                                unitAtribute.find(".productQuanity").val(unitData.attribute[j].productQuanity)
                                unitAtribute.find(".productName").val(unitData.attribute[j].productName)
                                unitAtribute.find(".productModel").val(unitData.attribute[j].productModel)
                                unitAtribute.find(".productPrice").val(unitData.attribute[j].productPrice)
                            } 
                            
                            updateUnitPrice(unit);
                        }
                            
                        /*
                        var unit = createUnit();
                        updateUnitPrice(unit);
                        */
                    }); 
                }
                
                function saveDraft(){
                    if(!loaded) return;
                    var draftObject = {nextUnitID:nextUnitID};
                    $(".unit").each(function(){
                        var unit = $(this);
                        var draftUnit = draftObject[unit.attr("unitid")] = {
                            productQuanity  : unit.find(".productQuanity").val(),
                            productName     : unit.find(".productName").val(),
                            productModel    : unit.find(".productModel").val(),
                            productPrice    : unit.find(".productPrice").val(),
                            attribute       : {}
                        };
                        $("[unitid-parent='"+unit.attr("unitid")+"']").each(function(){
                            var $attr = $(this);
                            draftUnit.attribute[$attr.attr("unitid")] = {
                                productQuanity  : $attr.find(".productQuanity").val(),
                                productName     : $attr.find(".productName").val(),
                                productModel    : $attr.find(".productModel").val(),
                                productPrice    : $attr.find(".productPrice").val(),
                            };
                        });
                        
                    });
                    
                    if(loaded)
                        socket.emit("invoice-save-draft",<%- customer.id %>,draftObject,function(err){
                            //console.log(draftObject);
                            console.log("Draft Saved")
                        }); 
                }
                
                
                });
            });
        </script>
        <script src="/js/libs/jquery-ui-1.10.3.custom.min.js"></script>
        <style>
            .ui-autocomplete{
                width:200px;
            }
            .ui-autocomplete .ui-menu-item{
                list-style:none;
            }
            .ui-autocomplete .ui-menu-item .ui-state-focus{
                list-style:none;
                border:none;
            }
        </style>
        <script src="/js/libs/bootstrap.min.js"></script>
    </body>
</html>