<!DOCTYPE html>
<html lang="en">
  <%- HEAD() %>
<body>
	
	<%- NAVBAR(false) %>
	

<div class="main">
    <div class="container">
        <div class="row">
            <div class="span4  offset4">
                <%- widgetOpen("Access Restricted") %>
                    Sorry But this Page is Restricted
                <%- widgetClose() %>
            </div>
        </div>
    </div>
</div>

<script src="/js/libs/jquery-ui-1.10.0.custom.min.js"></script>
<script src="/js/libs/bootstrap.min.js"></script>



</body>
</html>
