<head>
    <meta charset="utf-8" />
    <title>Dashboard :: Base Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/ui-lightness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet" />
    <link href="/css/base-admin-2.css" rel="stylesheet" />
    <link href="/css/base-admin-2-responsive.css" rel="stylesheet" />
    <link href="/css/pages/dashboard.css" rel="stylesheet" />
    <link href="/css/custom.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <script src="/js/libs/jquery-1.8.3.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var $socket = window.io.connect();
    
        var connectedFns = [];
        var socket = window.socket = function(fn){
            connectedFns.push(fn);
            if(socket.connected === true)
                fn.call({},socket);
        };
        socket.on = $socket.on.bind($socket);
        socket.emit = $socket.emit.bind($socket);
        socket.connected = false;
        
        $socket.on('connect', function () {
            socket.connected = true;
            for (var i = 0; i < connectedFns.length; i++) {   
                connectedFns[i].call({},socket);
            }
        });
        $socket.on('disconnect', function () {
            socket.connected = false;
        });
        socket(function(){
            console.log("websocket connected");
        }); 
    
    </script>
</head>