<!DOCTYPE html>
<html lang="en">

    <%- HEAD() %>
    
    <body>
        
        <%- NAVBAR(true) %>

        <div class="main">
            <div class="container">
                <div class="row">
                
      	            <div class="span6">
      	            
                        <div class="widget stacked ">
                        
                            <div class="widget-header">
                                <h3>Open Orders</h3>
                            </div>
                            <!-- /widget-header -->
                            <div>
    
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Customer</th>
                                            <th>Phone</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
      	            
                        <div class="widget stacked ">
                        
                            <div class="widget-header">
                                <span class="pull-right"><a href="/customers/new"><h3>New</h3></a></span>
                                <h3>Latest Customers</h3>
                            </div>
                            <!-- /widget-header -->
                            <div>
    
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Phone</th>
                                            <th>Email</th>
                                            <th>New Invoice</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i = 0; i < customers.length; i++){ %>
                                        <tr>
                                            <td><%- customers[i].id %></td>
                                            <td><%- customers[i].name %></td>
                                            <td><%- customers[i].phone %></td>
                                            <td><%- customers[i].email %></td>
                                            <td style="text-align:center;font-size:30px;"><a href="/invoices/new/<%- customers[i].id %>"><i class="icon-plus-sign-alt"></i></a></td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /main -->
        <script src="/js/libs/jquery-ui-1.10.0.custom.min.js"></script>
        <script src="/js/libs/bootstrap.min.js"></script>
    </body>
</html>