<!DOCTYPE html>
<html lang="en">
  <%- HEAD() %>
    <body>
    	<%- NAVBAR(false) %>
    	<div class="main">
            <div class="container">
                <div class="row">
                    <div class="span4  offset4">
                        <%- widgetOpen("Loading...") %>
                        
                            <p>Secure Action Taking Place</p>
                            <div class="progress progress-secondary progress-striped active">
            					<div class="bar" style="width: 0%"></div> <!-- /.bar -->				
            				</div> <!-- /.progress -->
                            <script>
                                $(function(){
                                    var timeout = <%- redirect.timeout || 2000 %>;
                                    var timeoutCent = (timeout / 100);
                                    var timeoutCalc = 0;
                                    var barLen = 0;
                                    
                                    var intID = setInterval(function() {
                                        barLen+=1;
                                        timeoutCalc += timeoutCent;
                                        if(timeoutCalc >= timeout){
                                            clearInterval(intID);
                                            window.document.location = "<%- redirect.path %>";
                                        }
                                        else $(".progress .bar").css("width",barLen+"%");
                                    }, timeoutCent);    
                                });
                            </script>
                        
                        <%- widgetClose() %>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/libs/jquery-ui-1.10.0.custom.min.js"></script>
        <script src="/js/libs/bootstrap.min.js"></script>
    </body>
</html>