<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <i class="icon-cog"></i>
            </a>
            <a class="brand" href="/index.html">Point of Sale</a>
            <% if(typeof req !== "undefined" && req.session.user){ %>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-cog"></i>
                            App Settings
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:;">Employee Settings</a>
                            </li>
                            <li>
                                <a href="javascript:;">Invoice Settings</a>
                            </li>
                            <li>
                                <a href="javascript:;">Product Settings</a>
                            </li>
                            <li>
                                <a href="javascript:;">Customer Settings</a>
                            </li>
                        </ul>
                    </li> -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i>
                            <%- req.session.user %>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <%  var USERDROPDOWNMENU = app.menus.get("USERDROPDOWN"); 
                                for(var i in USERDROPDOWNMENU){
                            %>
                            <li class="">
                                <a href="<%- USERDROPDOWNMENU[i].link %>">
                                    <span><%- USERDROPDOWNMENU[i].title %></span>
                                </a>
                            </li>
                            <% } %>
                        </ul>
                    </li>
                </ul>
                <!-- <form class="navbar-search pull-right" />
                <input type="text" class="search-query" placeholder="Search" />
                </form> -->
            </div>
            <!--/.nav-collapse -->
            <% } %>
        </div>
        <!-- /container -->
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->
<% if(args[0]) {%>
<div class="subnavbar">

    <div class="subnavbar-inner">
        <div class="container">
            <a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
                <i class="icon-reorder"></i>
            </a>
            <div class="subnav-collapse collapse">
                <ul class="mainnav">
                    <%  var SUBNAVMENU = app.menus.get("SUBNAV"); 
                        for(var i in SUBNAVMENU){
                    %>
                    <li class="">
                        <a href="<%- SUBNAVMENU[i].link %>">
                            <i class="<%- SUBNAVMENU[i].icon %>"></i>
                            <span><%- SUBNAVMENU[i].title %></span>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </div>
            <!-- /.subnav-collapse -->
        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
<% }else{ %>
 <br />
<% } %>